{% extends 'base.html.twig' %}

{% block body_id 'error' %}

{% block main %}
    <h1 class="text-danger">Ошибка доступа</h1>

    <p class="lead">
        У вас нет прав на посещение данного ресурса.
    </p>
    <p>
        Обратитесь к вашему администратору или начальнику.
    </p>
{% endblock %}

{% block sidebar %}

{% endblock %}
