<div  class="row">
    <ul class="nav navbar-nav add">
        <li><a href="{{ path('common_proverka') }}">Общее число проверок</a></li>
        <li><a href="{{ path('narusheniya') }}">Нарушения по проверкам</a></li>
        <li><a href="{{ path('narusheniya_obj') }}">Нарушения по объектам</a></li>
        <li><a href="{{ path('nakazaniya') }}">Наказаниям</a></li>      
        <li><a href="{{ path('narusheniya_all') }}">Нарушения по всем учреждениям</a></li>      
        <li><a href="{{ path('proverka_nakazaniya') }}">Сотрудники привлеченные к назазанию</a></li>
        <li><a href="{{ path('proverka_nevyp') }}">Невыполненные нарушения</a></li>
        <li><a href="{{ path('proverka_narusheniya_vnimanie') }}">Нарушения требующие особого внимания</a></li>
    </ul>
</div>