<div  class="row">
    <ul class="nav navbar-nav add">
        <li><a href="{{ path('zabolevaniya') }}">Общее</a></li>
        <li><a href="{{ path('kontaktnye') }}">Общее (Контактные)</a></li>
        <li><a href="{{ path('otryad') }}">Отряды</a></li>
        <li><a href="{{ path('otryad_kontakt') }}">Отряды (Контактные)</a></li>
        <li><a href="{{ path('mbt') }}">МБТ</a></li>
        <li><a href="{{ path('viyavlenie') }}">Выявление</a></li>
        <li><a href="{{ path('recidiv') }}">Заболеваемость</a></li>
        <li><a href="{{ path('postupil_is') }}">Поступление</a></li>
        <li><a href="{{ path('address_common') }}">Адрес общий</a></li>
        <li><a href="{{ path('ochag') }}">Очаг</a></li>
        <li><a href="{{ path('patologiya') }}">Сопутствующая патология</a></li>
        <li><a href="{{ path('povtorno') }}">Повторно заболевшие</a></li>
        <li><a href="{{ path('iz_kontaktnyh') }}">Заболевшие из IV ГДУ</a></li>
    </ul>
</div>